/* Nitti Version */

/*
body {
  line-height: 1.5em;
  letter-spacing: -0.08em;
	font-family:  "Nitti", "Cousine", Courier, "Heiti TC", monospace;
	font-style: Light;
	font-size: 23px; 
}

body .heading {
  letter-spacing: -0.1em;
	font-family:  "Nitti", "Cousine", Courier, "Heiti TC", monospace;
  font-style: Light;
  font-weight: bold;
}

.strong, .term, .code, .codeblock {
  letter-spacing: -0.08em;
	font-family:  "Nitti", "Cousine", Courier, "Heiti TC", monospace;
  font-weight: bold;
	font-style: Light;
}
*/


/* -------------- */


/* Cousine Version */

@font-face {
  font-style: normal;
  font-weight: 400;
	font-family: "Cousine";
	src: url('./fonts/Cousine-Regular.ttf'), url('./fonts/Cousine-Bold.ttf');
}

body {
  line-height: 1.7em;
  letter-spacing: 0.05em;
	font-family:  "Cousine", Courier,"Heiti TC", monospace;
  font-size: 20px;
  font-style: Regular;
}

body .heading {
  font-size: 20px;
  font-weight: bold;
  font-style: Bold;
}

.strong, .term, .code, .codeblock {
	font-family:  "Cousine", Courier,"Heiti TC", monospace;
  font-weight: bold;
}




/* -------------- */

/* General Styles */

.currentSentence {
  -webkit-transition-property: display, color, visibility;
  -webkit-transition-duration: 0.3s;
}

html {
	-webkit-font-smoothing: anti-antialiased;
}

body .heading {
  color: #363636;
}

body .body {
  font-weight: normal;
}


#editorContent {
  padding: 80px 50px;
  -webkit-overflow-scrolling: touch;
}

body {
  text-shadow: 0 1px 1px rgba(255,255,255,0.3);
	background: url("bg.png");
	font-weight: normal;
	font-style: Light;
	color: rgba(80,80,80,1);
}

.tags {
  font-style: Light;
  font-weight: normal;
}

.tabs {
	font-family:HalfWidthSpace;
}
.highlight {
  background: red;
}

.code {
	font-weight: normal;
}

.code, .codeblock > .content > .text {
	background: rgb(90%,90%,90%);
	font-weight: normal;
}
.blockquote {
	font-style:oblique;
	font-weight: normal;
}

.blockquote > .content > .lead.syntax,
.unordered > .content > .lead.syntax,
.ordered > .content > .lead.syntax,
.heading > .content > .lead.syntax,
.heading > .content > .trail.syntax   {
	color: #787878;
	font-size: Light;
	font-weight: normal;
}

.headerLeadSyntaxText {
	font-size: Light;
	font-weight: normal;
}

.headerLeadSyntaxText:hover {
	text-decoration:underline;
	cursor: pointer;
	font-size: Light;
	font-weight: normal;
}
.htmltag {
	color: #c04364;
	font-weight: normal;
}

.mode {
  font-weight: normal;
  font-style: Light;
  color: gray;
}

.htmltag-attributevalue {
	font-weight: normal;
	color: #14819c;
}
@font-face {
	font-family: CourierFoldEllipse;
	src: url('./fonts/CourierFoldEllipse.ttf');
}
.foldafter .content:after {
	font-family: CourierFoldEllipse, Courier;
	font-style:normal;
	font-weight:normal;
	content:" …";
}
.editorTopFold {
	color: rgb(97%,97%,97%);
	background: rgb(20%,20%,20%);
}
@font-face {
	font-family: CourierBulletDone;
	src: url('./fonts/CourierBulletDone.ttf');
}
@font-face {
	font-family: CourierBulletNotDone;
	src: url('./fonts/CourierBulletNotDone.ttf');
}

.ordered, .unordered {
	font-weight: normal;
}

.unordered.todoMode .lead {
	font-family:CourierBulletNotDone, Courier;
}
div[done].unordered.todoMode .lead {
	font-family:CourierBulletDone, Courier;
}